.login-inner-content {
    position: relative;
    top: 50px;
}

.login-title {
    font-size: 34px;
    font-weight: bold;
}

.login-input-area {
    position: relative;
    top: 50px;
}

.login-sign-up-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 300px;
}

.login-sign-up {
    text-decoration: none;
    color: #989898;
}