.main-tab-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #E2E2E2;
    background-color: #f2f4f3;
}

.main-tab-frame {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.main-tab-item {
    cursor: pointer;
    text-align: center;
    list-style: none;
}

.item-text {
    font-size: 18px;
}

.item-focus-text {
    font-size: 18px;
    color: #4361EE;
    border-bottom: 2px solid #4361EE;
}