.main-container {
    margin: 0 auto;
    height: 100%;
    width: 50vw;
    padding-top: 30px;
}

.main-school-name {
    font-size: 22px;
    font-weight: 400;
}

.main-container-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}

.main-add-post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E2E2E2;
    outline: none;
    border-radius: 8px;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    background-color: #4361EE;
    height: 30px;
    cursor: pointer;
}

.main-petition-ul {
    height: 100%;
}